@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Welcome to Track your Training. <br /><br />Pick a program that suits you, or create your own. <br /><br />Register track your progress.</h3>
    <br />
</div>