@{
    ViewBag.Title = "Programs";
}

<div class="jumbotron">
    <h3><a href="@Url.Action("CreateNewProgram", "Program", new { })">Can't find a program that suits you? Create your own</a></h3>
    <br />
    <table style="width:100%">
        <tr>
            <th>Training Programs</th>
        </tr>
        @foreach (var program in ViewBag.Programs)
        {
            <tr>
                <td><a href="@Url.Action("ProgramDetails", "Program", new { programId = program.Id })">@program.Name</a></td>
            </tr>
        }
    </table>
    <br />
</div>